################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Zoom/Zoom/bin/Debug
/Zoom/Zoom/obj/Debug
/Zoom/UnitTestZoom/bin/Debug
/Zoom/UnitTestZoom/obj/Debug
/Zoom/Zoom.GUI/obj
/Zoom/Zoom/obj/Release
/Zoom/UnitTestZoom/obj/Release
/Zoom/Zoom.DAL/obj
/Zoom/Zoom.DAL/bin/Debug
/Zoom/Zoom.Model/obj
/Zoom/Zoom.Model/bin/Debug
/Zoom/Zoom.BLL/obj/Debug
/Zoom/Zoom.BLL/obj/Release
/Zoom/Zoom.GUI/bin/Debug
/Zoom/Zoom.BLL/bin/Debug
/Zoom/Diagramme/obj/Debug
